.icon {
    color: white;
    transition: all 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.icon.github:hover {
    color: black;
}

.icon.globe:hover {
    color: #34a853;
}

.icon.linkedin:hover {
    color: #0a66c2;
}

.toggle-switch input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.toggle-switch *,
.toggle-switch ::after,
.toggle-switch ::before {
    box-sizing: border-box;
}

.toggle-switch .rocker {
    display: inline-block;
    position: relative;
    font-size: 0.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid #eee;
}

.toggle-switch .rocker-small {
    font-size: 0.5em;
}

.toggle-switch .rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #999;
    border: 0.5em solid #eee;
    border-bottom: 0;
}

.toggle-switch .switch-left,
.toggle-switch .switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
    user-select: none;
}

.toggle-switch .switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: #ddd;
    transform: rotate(15deg) skewX(15deg);
}

.toggle-switch .switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: #bd5757;
    color: #fff;
}

.toggle-switch .switch-left::before,
.toggle-switch .switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: #ccc;
    transform: skewY(-65deg);
}

.toggle-switch .switch-left::before {
    left: -0.4em;
}

.toggle-switch .switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
}

.toggle-switch input:checked+.switch-left {
    background-color: #0084d0;
    color: #fff;
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
}

.toggle-switch input:checked+.switch-left::before {
    background-color: transparent;
    width: 3.0833em;
}

.toggle-switch input:checked+.switch-left+.switch-right {
    background-color: #ddd;
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
}

.toggle-switch input:checked+.switch-left+.switch-right::before {
    background-color: #ccc;
}

/* Keyboard Users */
.toggle-switch input:focus+.switch-left {
    color: #333;
}

.toggle-switch input:checked:focus+.switch-left {
    color: #fff;
}

.toggle-switch input:focus+.switch-left+.switch-right {
    color: #fff;
}

.toggle-switch input:checked:focus+.switch-left+.switch-right {
    color: #333;
}

p {
    color: white;
}

.icons {
    bottom: 0;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .icons {
        flex-direction: row;
        justify-content: flex-start;
    }

    .icons a {
        font-size: 20px;
    }
}

.wrap-delete * {
    display: flex;
    box-sizing: border-box;
}

.button-delete {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.wrap-delete button {
    width: 100px;
    height: 33px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #fca311;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
    background: #f4a220;

}

.wrap-delete button .text {
    transform: translateX(23px);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.wrap-delete button .icon {
    position: absolute;
    border-left: 1px solid #000000;
    transform: translateX(73px);
    height: 27px;
    width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-delete button:hover .icon {
    width: 100px;
    border-left: none;
    transform: translateX(0);
}

.wrap-delete button:focus {
    outline: none;
}

body {
 background: radial-gradient(circle 450px at top left, rgba(15, 15, 15, 0.548) -200px, rgb(0, 0, 0) 150%);
 
}